@import "tailwindcss";

@theme {
  /* Konfigurasi Warna Brand Inbeez */
  --color-primary: #0E417B;
  --color-primary-light: #235EE6;
  --color-secondary: #FFB000;
  --color-secondary-light: #FFC501;
  --color-neutral-dark: #424242;
  --color-neutral-black: #000000;

  /* Konfigurasi Tipografi */
  --font-poppins: var(--font-poppins), sans-serif;
  --font-nunito: var(--font-nunito), sans-serif;
}